footer{
    @include flex__col_x_y;
    width: 100%;
    height: auto;
    background-color: lighten($color: black, $amount: 20);
    z-index: 10;
}
.container_footer{
    width: 90%;
    @include flex__col_y;
    height: auto;
    margin-bottom: 1.7rem;
    & li{
        list-style-type: none;
        @include flex_y;
        margin-bottom: 0.8rem;
        
    }
    & a{
        @include flex_xy;
        text-decoration: none;
    }
    & h3{
        font-size: 1.3rem;
        font-weight: 400;
        font-family: 'Shrikhand', cursive;   
        color: #f1f1f1;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }
    & img{
        width: 1.3rem;
        object-fit: cover;
        margin-right: 0.5rem;

    }
    & h4{
        font-size: 1rem;
        font-weight: 400;
        color: #f1f1f1;
        &:hover{
            color: $primary;
        }
    }
}

   
        


@media all and (min-width:$min-width_mobile_small) and (max-width:$max-width_mobile_small){
    .container_footer{
        & h3{
            font-size: 1.2rem;
        }
        & img{
            width: 1rem;
        }
        & h4{
            font-size: 0.9rem;
        }
    }
}
@media all and (min-width:$min-width_mobile_large) and (max-width:$max-width_mobile_large){
    .container_footer{
        & h3{
            font-size: 1.5rem;
        }
        & img{
            width: 1.5rem;
        }
        & h4{
            font-size: 1.2rem;
        }
    }
}
@media all and (min-width:$min-width_tablette) and (max-width:$max-width_tablette){
    .container_footer{
        
        & h3{
            font-size: 1.6rem;
        }
        & img{
            width: 1.6rem;
        }
        & h4{
            font-size: 1.3rem;
        }
    }
}
@media all and (min-width:$min-width_desktop_small) and (max-width:$max-width_desktop){
    .container_footer{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 3rem;
        & h3{
            font-size: 1.8rem;
            width: 100%;
            margin-top: 3rem;
            margin-bottom: 3rem;
        }
        & ul{
            display: flex;
            flex-direction: column;
            width: 40%;
        }
        width: 95%;
        
        & img{
            width: 1.8rem;
        }
        & h4{
            font-size: 1.5rem;
        }

    }
    

}