*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*{
    font-family: 'Roboto', sans-serif;
}
body{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
main{
    width: 100%;
    height: auto;
}
$primary:#9356DC;
$second:#FF79DA;
$third:#99E2D0;
$gradient_bottom_second_primary:linear-gradient(to bottom, $second, $primary);
$lighten_gradient_bottom_second_primary:linear-gradient(
to bottom, lighten($second,5),lighten($primary,5));


@mixin flex_x{
    display: flex;
    justify-content: center;
}
@mixin flex_y{
    display: flex;
    align-items: center;
}
@mixin flex_xy{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex_col_x{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin flex__col_x_y{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@mixin flex__col_y{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header{
    width: 100%;
    height: 7vh;
    @include flex_xy;
    position: relative;
    & i{
        transform: scale(1.5);
        position: absolute;
        left:8%;
    }
    
    & h2{
        display:block;
        height: 7vh;
        width: 60%;
        font-family: 'Shrikhand', cursive;   
        font-size: 2.2rem;
        text-align: center;
        line-height: 7vh;
        
        
       
    }
}

    
    

#restaurants {
    width: 100%;
    
}

#header_restaurants{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
    
.container_search{
    width: 100%;
    height: 7vh;
    @include flex_xy;
}

.location_search{
    width: 100%;
    height: 100%;
    @include flex_xy;
    background-color: #f2f2f2;
    border-top: 3px solid darken($color: #f2f2f2, $amount: 5);
    &__p{
        width: 60%;
        height: 100%;
        @include flex_xy;
        background-color: #f2f2f2;
        &  i{
            transform: scale(1.3);
            display: flex;
            width: 15px;
            margin-right: 1rem;
        }
        &  input{
            width: 10rem;
            border: none;
            outline: none;
            font-size: 1.2rem;
            font-weight: 600;
           
            
            background-color: #f2f2f2;
            &:focus{
                border-color: red;
                
            }
        }
    }
    
        
}
.explorer{
    width: 100%;
    height: auto;
    @include flex__col_x_y;
    text-align: center;
    background-color:darken($color: white, $amount: 2);
    & h1{
        width: 70%;
        font-size: 1.8rem;
        padding-top: 3rem;
        padding-bottom: 1rem;
    }
    & h2{
        width: 95%;
        font-size: 1.3rem;
        font-weight: 300;
    }
    &__btn{
        position: relative;
        z-index: 1;
        background: $gradient_bottom_second_primary;
        color: #f1f1f1;
        background-color: blue;
        padding: 1.2rem 1.6rem;
        border-radius: 999px;
        font-size: 1.2rem;
        font-weight: 500;
        margin-top: 2rem;
        margin-bottom: 4rem;
        box-shadow: 0 3px 8px gray ;
        // transition: all 0.5s;
        &:hover{
            opacity: 1;
            // background: $lighten_gradient_bottom_second_primary;
            // box-shadow: 0 3px 10px darken($color: grey, $amount: 30);
        }
        &:hover{
            &::after{
                opacity: 1;
            }
        }
        &::after{
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 999px;
            position: absolute;
            opacity:0;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index:-1;
            background: $lighten_gradient_bottom_second_primary;
            box-shadow: 0 3px 10px darken($color: grey, $amount: 30);
            transition: opacity 0.3s ease-in-out;
            
        }
    }
}

.how_is_work{
    margin-bottom: 3rem;
    width: 90%;
    @include flex__col_x_y;
    flex-wrap: wrap;
    & h2{
        width: 100%;
        margin-bottom: 2rem;
        margin-top: 3rem;
        font-size: 1.8rem
    }
    &__card{
        margin-bottom:2rem;
        @include flex__col_y;
        height: auto;
        width:100%;
        
        &__nr{
            @include flex_xy;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: $primary;
            position: relative;
            // top: 6.8vh;
            right: 1rem
        }   
        &__content{
            @include flex_y;
            background-color: #f2f2f2;
            border-radius: 1.5rem;
            width: 100% -1rem;
            height: 10vh;
            margin-left: 1rem;
            box-shadow: 0 0 10px lightgrey;
            transition: all 0.3s;
            &:hover{
                background: lighten($color: $primary, $amount: 37);
                box-shadow: 0 0 10px darken($color: lightgrey, $amount: 10);
                & i{
                    color:$primary ;
                }
            }
            & i{
                transform: scale(1.3);
                margin-left: .5rem;
                margin-right: 2rem;
            }
        }
    }   
       
}
    
        
 

.restaurants{
    @include flex_col_x;
    width: 100%;
    height: auto;
    background: #f2f2f2;
    padding-bottom: 3rem;
    & h2{
        width: 90%;
        justify-content: flex-start;
        margin-top: 3rem;
        margin-bottom: 1.5rem;
        font-size: 1.8rem;
    }
    & li{
        @include flex_x;
        width: 100%;
        height: auto;
    }
    
    &__card{
        width: 90%;
        height: 280px;
        position: relative;
        box-shadow: 0 0 8px grey;
        border-radius: 20px;
        overflow: hidden;
        transition: all 0.3s;
        margin-bottom: 1.5rem;
        text-decoration: none;
        color: black;
        &:hover{
            transform: scale(1.01);
            box-shadow: 0 0 12px darken($color: grey, $amount: 10);
        }
        &__img{
            width: 100%;
            height:70%;
            overflow: hidden;
            position: relative;
            & img{
                width: 100%;
                height:100%;
                object-fit: cover;
                
            }
            
                
        }
        &__info{
            @include flex__col_y;
            height: 30%;
            width: 100%;
            position: relative;
            background: #fff;
            & h3{
                padding-left: 1rem;
                font-size: 1.3rem;
                margin-bottom: 0.2rem;
                font-weight: 600;
            }
            & h4{
                padding-left: 1rem;
                font-size: 1.2rem;
                font-weight: 400;
            }
            
        }    
        &__new{
            background: $third;
            color: darken($color: $third, $amount: 40);
            position: absolute;
            top: 1rem;
            right: 1rem;
            padding:0.6rem 1rem;
            font-size: 1rem;
            font-weight: 600;
            border-radius: 0.2rem;
        }    
    }
    
    
}
.heart{
    width: 1.5rem;
    height:1.5rem;
    position: absolute;
    right: 1.2rem;
    &__white{
        & img{
            width: 100%;
        }
    }
    &__primary{
        
        & img{
            width: 100%;
            opacity: 0.01;
            transition:all 1s ;
            &:hover{
                opacity: 1;
            }
        }
    }
}  
footer{
    @include flex__col_x_y;
    width: 100%;
    height: auto;
    background-color: lighten($color: black, $amount: 20);
}
.container_footer{
    width: 90%;
    @include flex__col_y;
    height: auto;
    margin-bottom: 1.7rem;
    & li{
        list-style-type: none;
        @include flex_y;
        margin-bottom: 0.8rem;
    }
    & h3{
        font-size: 1.3rem;
        font-weight: 400;
        font-family: 'Shrikhand', cursive;   
        color: #f1f1f1;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }
    & img{
        width: 1.3rem;
        object-fit: cover;
        margin-right: 0.5rem;

    }
    & h4{
        font-size: 1.1rem;
        font-weight: 400;
        color: #f1f1f1;
        
    }

}

.menu_page{
    @include flex__col_x_y;
    & .header_menu{
        width: 100%;
        height:35vh;
        & img{
            width: 100%;
            height: 35vh;
            object-fit:cover ;
            z-index: -1;
        }
    }
}


.container_menu_card{
    @include flex__col_x_y;
    width: 100%;
    height: auto;
    background-color: #f2f2f2;
    border-radius: 3rem 3rem 0 0;
    position: relative;
    bottom: 3rem;
}
.menu_card{
    width: 90%;
    height: auto;
    & .titre{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
        & h1{
            font-family: 'Shrikhand', cursive; 
            font-size: 1.6rem;
            font-weight: 300;
        }
        & .heart{
            margin-right: 1rem;
        }
    }
   
}
.group_card{
    margin-bottom: 2.5rem;
    & h2{
        font-size: 1.2rem;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 1rem;
        &::after{
            content: "";
            display: block;
            width: 3.2rem;
            height: 0.2rem;
            background-color: $third;
            margin-top: 0.2rem;
        }
    }
    & li{
        background-color: #fff;
        list-style-type: none;
        padding: 0.8rem;
        border-radius: 1rem;
        margin-bottom: 1rem;
    }
}
.item_card_menu{
    position: relative;
    & h3{
        font-size: 1.2rem;
        margin-bottom: 0.2rem;
    }
    & h4{
        font-weight: 300;
        font-size: 1rem;
    }
    & .price{
        font-weight: 600;
        position: absolute;
        right: 7%;
        bottom: 14%;
    }
}  

.btn_command{
        width: 50%;
        text-align: center;
        background: $gradient_bottom_second_primary;
        color: #f1f1f1;
        padding: 1.2rem 1.6rem;
        border-radius: 999px;
        font-size: 1.2rem;
        font-weight: 500;
        margin-top: 1rem;
        margin-bottom: 3rem;
        box-shadow: 0 3px 8px gray ;
        transition: all 0.5s;
        &:hover{
            background: $lighten_gradient_bottom_second_primary;
            box-shadow: 0 3px 10px darken($color: grey, $amount: 30);
        }
}

    
    


    





 

                
        
            
            
            

            
            
        
    




            

            




    
        
        
        
    
   
    

