
body{
    width: 100%;
    max-width: 1680px;
    height: auto;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}
@media all and (min-width:1681px){
    body{
        border-left: 1px solid #f2f2f2;
        border-right: 1px solid #f2f2f2;
    }
        
}
    
   
   

main{
    display: flex;
    height: auto;
    // margin: 0 auto;
    flex-direction: column;
    
    
}


@media all and (min-width:$min-width_desktop_small) and (max-width:$max-width_desktop){
    .main_menu{
        display: flex;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        &__1{
            background-image:linear-gradient(to right, rgba(242, 242, 242, 0) 35%,rgba(242, 242, 242, 0.01) 30%,rgba(242,
             242, 242, 1)45%),
              url('images/restaurants/La_palette_du_gout_desktop_2.jpg');  
            
            
        }
        &__2{
            background-image:linear-gradient(to right, rgba(242, 242, 242, 0) 35%,rgba(242, 242, 242, 0.01) 30%,rgba(242, 242, 242, 1)45%),
              url('images/restaurants/La_note_enchantee_desktop_2.jpg');  
           
        }
        &__3{
            background-image:linear-gradient(to right, rgba(242, 242, 242, 0) 35%,rgba(242, 242, 242, 0.01) 30%,rgba(242, 242, 242, 1)45%),
              url('images/restaurants/A_la_francaise_desktop_2.jpg');  
            
        }
        &__4{
            background-image:linear-gradient(to right, rgba(242, 242, 242, 0) 35%,rgba(242, 242, 242, 0.01) 30%,rgba(242, 242, 242, 1)45%),
              url('images/restaurants/Le_delice_des_sens_desktop_2.jpg');  
           
        }
           
            
            
           
            


        
    }
}
