
body{
    width: 100%;
    max-width: 1680px;
    height: auto;
    
    margin: 0 auto;
   
    flex-direction: column;
    justify-content: center;
   

    padding: 0;
}
main{
    display: flex;
    height: auto;
    // margin: 0 auto;
    flex-direction: column;
    
    
}
