.how_is_work{
    margin-bottom: 3rem;
    width: 90%;
    @include flex__col_x_y;
    flex-wrap: wrap;
    
    & h2{
        width: 100%;
        margin-bottom: 2rem;
        margin-top: 3rem;
        font-size: 1.6rem;
        
    }
    &__card{
        margin-bottom:1.5rem;
        @include flex_y;
        height: auto;
        width: 100%;
        position: relative;
        
        
        &__nr{
            @include flex_xy;
            flex-shrink: 0;
            width: 1.8rem;
            height: 1.8rem;
            border-radius: 50%;
            background-color: $primary;
            position: absolute;
            left: 0;
            
           
        }   
        &__content{
            @include flex_y;
            background-color: #f2f2f2;
            border-radius: 1.5rem;
            width: 100%; 
            margin-left: 1rem;
            padding: 1.7rem 0;
            padding-left: 2rem;
            
            
            
            box-shadow: 0 0 10px lightgrey;
            transition: all 0.3s;
            &:hover{
                background: lighten($color: $primary, $amount: 37);
                box-shadow: 0 0 10px darken($color: lightgrey, $amount: 10);
                & i{
                    color:$primary ;
                }
            }
            & i{
                transform: scale(1.25);
                margin-left: .5rem;
                margin-right: 2rem;
            }
        }
    }   
       
}

@media all and (min-width:$min-width_mobile_small) and (max-width:$max-width_mobile_small){
    .how_is_work{
        margin-bottom: 2rem;
        & h2{
            font-size: 1.3rem;
            margin-top: 2.5rem;
            margin-bottom: 1.7rem;
        }
        &__card{
            
            margin-bottom: 1.5rem;
            &__nr{
                width: 1.5rem;
                height: 1.5rem;
            }
            &__content{
                
                
                padding: 1.4rem 0;
                padding-left: 1.8rem;
                & i{
                    transform: scale(1);
                    margin-left: 0rem;
                    margin-right: 0.7rem;
                    position: relative;
                    right: 0.2rem;
                }
                & h3{
                    font-size: 1rem;
                    margin-right: 0rem;
                }
            }    
        }
        
    }
}

@media all and (min-width:$min-width_mobile_large) and (max-width:$max-width_mobile_large){
    .how_is_work{
        
        & h2{
            font-size: 1.8rem;
            margin-top: 2.5rem;
            margin-bottom: 2.2rem;
        }
        &__card{
            &__nr{
                width: 1.9rem;
                height: 1.9rem;
            }
            &__content{
                & i{
                    transform: scale(1.4);
                    margin-left: 1rem;
                }
                & h3{
                    font-size: 1.4rem;
                    margin-right: 1rem;
                }
            }    
        }
        
    }
}
@media all and (min-width:$min-width_tablette) and (max-width:$max-width_tablette){
    .how_is_work{
        
        & h2{
            font-size: 2.2rem;
            margin-top: 3.5rem;
            margin-bottom: 2.3rem;
        }
        &__card{
            &__nr{
                width: 2.2rem;
                height: 2.2rem;
            }
            &__content{
                padding: 2.2rem 0 2.2rem 2rem;
                & i{
                    transform: scale(1.5);
                    margin-left: 1rem;
                    
                }
                & h3{
                    font-size: 1.45rem;
                    margin-right: 1rem;
                    
                }
            }    
        }
        
    }
     
}
@media all and (min-width:$min-width_desktop_small) and (max-width:$max-width_desktop){
    .how_is_work{
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2.5rem;
        width: 95%;
        
        & h2{
            font-size: 2.2rem;
            margin-top: 3.5rem;
            margin-bottom: 2.3rem;
        }
        &__card{
            width: 32%;
            &__nr{
                width: 2.3rem;
                height: 2.3rem;
            }
            &__content{
               
                padding: 1.5rem 0 1.5rem 1.7rem;
                height: 100px;
                
                & i{
                    transform: scale(1.6);
                    margin-left: 1rem;
                    margin-right: 1.6rem;
                    
                }
                & h3{
                    font-size: 1.3rem;
                    margin-right: 1rem;
                    
                    
                    
                }
            }    
        }
        
    }

}
