.restaurants{
    @include flex_col_x;
    width: 100%;
    height: auto;
    background: #f2f2f2;
    padding-bottom: 1.5rem;
    & h2{
        width: 90%;
        justify-content: flex-start;
        margin-top: 3rem;
        margin-bottom: 1.5rem;
        font-size: 1.8rem;
    }
    & li{
        @include flex_x;
        width: 100%;
        height: auto;
    }

    &__card{
        width: 90%;
        height: 260px;
        position: relative;
        box-shadow: 0 0 8px grey;
        border-radius: 20px;
        overflow: hidden;
        transition: all 0.3s;
        margin-bottom: 1.2rem;
        text-decoration: none;
        color: black;
        &:hover{
            transform: scale(1.01);
            box-shadow: 0 0 12px darken($color: grey, $amount: 10);
        }
        &__img{
            width: 100%;
            height:70%;
            overflow: hidden;
            position: relative;
            & img{
                width: 100%;
                height:100%;
                object-fit: cover;

            }


        }
        &__info{
            @include flex__col_y;
            height: 30%;
            width: 100%;
            position: relative;
            background: #fff;
            & h3{
                padding-left: 1rem;
                font-size: 1.3rem;
                margin-bottom: 0.2rem;
                font-weight: 600;
            }
            & h4{
                padding-left: 1rem;
                font-size: 1.2rem;
                font-weight: 400;
            }

        }
        &__new{
            background: $third;
            color: darken($color: $third, $amount: 40);
            position: absolute;
            top: 1rem;
            right: 1rem;
            padding:0.6rem 0.8rem;
            font-size: 1rem;
            font-weight: 600;
            border-radius: 0.2rem;
        }
    }


}




.heart{
    width: 1.5rem;
    height:1.5rem;
    position: absolute;
    right: 2rem;
    border: none;
    background-color: transparent;
    &__white{
        width: 100%;
    }
        
    &__primary{
        position: absolute;
        right: 0rem;
        width: 100%;
        opacity: 0.01;
        transition:all 1s ;
        &:hover{
            opacity: 1;
        }
    }
}

@media all and (min-width:$min-width_mobile_small_menu_card) and (max-width:$max-width_mobile_small_menu_card){
    .restaurants{
        padding-bottom: 1rem;
        & h2{
            margin-top: 2.5rem;
            
            font-size: 1.3rem;
        }
        &__card{
            border-radius: 15px;
            height: 180px;
            &__info{
                & h3{
                    font-size: 1rem;
                }
                & h4{
                    font-size: 0.9rem;
                }
            }
            &__new{
                padding: 0.5rem 0.6rem;
                font-size: 0.9rem;
            }
        }
    }
    .heart{
        width: 1.2rem;
        height: 1.2rem;
        margin-bottom: 0.5rem;
        right: 1.5rem;
    }
}
@media all and (min-width:$min-width_mobile_medium_menu_card) and (max-width:$max-width_mobile_medium_menu_card){
    .restaurants{
        padding-bottom: 1rem;
        & h2{
            margin-top: 2.5rem;
            font-size: 1.3rem;
        }
        &__card{
            height: 200px;
            &__info{
                & h3{
                    font-size: 1rem;
                }
                & h4{
                    font-size: 0.9rem;
                }
            }
            &__new{
                padding: 0.5rem 0.6rem;
                font-size: 0.9rem;
            }
        }
    }
    .heart{
        width: 1.2rem;
        height: 1.2rem;
        margin-bottom: 0.5rem;
        right: 1.5rem;
    }
}

@media all and (min-width:$min-width_mobile_large) and (max-width:$max-width_mobile_large){
    .restaurants{
        padding-bottom: 1.5rem;
       & h2{
            margin-top: 3rem;
            font-size: 2rem;
        }
        &__card{
            height: 340px;
            margin-bottom: 1.8rem ;
            &__info{
                & h3{
                    font-size: 1.5rem;
                }
                & h4{
                    font-size: 1.4rem;
                }
            }
            &__new{
                padding: 0.6rem 0.9rem;
                font-size: 1.3rem;
            }
        }
    }
    .heart{
        width: 2rem;
        margin-bottom: 1rem;
        right: 2rem;
    }

}
@media all and (min-width:$min-width_tablette) and (max-width:$max-width_tablette){
    .restaurants{
        padding-bottom: 2rem;
        & h2{
             margin-top: 3.5rem;
             font-size: 2.1rem;
         }
         &__card{
             height: 380px;
             margin-bottom: 2rem ;
             &__info{
                 & h3{
                     font-size: 1.5rem;
                 }
                 & h4{
                     font-size: 1.4rem;
                 }
             }
             &__new{
                 padding: 0.6rem 1.4rem;
                 font-size: 1.4rem;
             }
         }
     }
     .heart{
         width: 2rem;
         margin-bottom: 1rem;
         right: 2rem;
     }
}

@media all and (min-width:$min-width_desktop_small){
    .restaurants{
        
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
        
        padding-bottom: 2rem;

        & h2{
            width: 100%;
             margin-top: 3.5rem;
             font-size: 2rem;
             margin-left: 2.5%;
         }
        & li{
            width:47.5%;
            justify-content: flex-start;
            &:nth-child(even){
                justify-content: flex-end;
            }
        }
            
        &__card{
            width:97.5%;
            
            height: 320px;
            margin-bottom: 2rem ;
            justify-content: flex-start;
            
            &__info{
                & h3{
                    padding-top: 1.5rem;
                    font-size: 1.5rem;
                }
                & h4{
                    font-size: 1.4rem;
                }
            }
            &__new{
                padding: 0.6rem 1.4rem;
                font-size: 1.4rem;
            }
        }
    }

    .heart{
         width: 1.8rem;
         margin-bottom: 1rem;
         right: 2rem;
         padding-top: 1.9rem;
    }
    
}



@media all and (min-width:$min-width_desktop) and (max-width:$max-width_desktop){
    .restaurants{
        padding-bottom: 1rem;
        & h2{
            font-size: 2.1rem;
        }
        &__card{
            height: 380px;
        }
    }
    .heart{
        width: 2rem;
        margin-bottom: 1rem;
        right: 2rem;
    }
    
}

// h3 .card_info demande un padding-top de 1.6rem, et '.heart---2rem' après l'utilisation & :nth-child(even){ justify-content: flex-start;}. Si les titres vont etre poussés en bas il faudra revenir sur le padding et chercher la cause du conflit






