

//-----min-width-base---- 


//-----page-1 item-3 for h4
@media all and (min-width:$min-width_base)  and (max-width:400px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__3:active{
            .check__dots{
                    opacity: 1;
                    &__h4{
                        opacity: 1;
                    }
                }
            }
        }
    }
}
                
//-----page-1 item-4 for h4
@media all and (min-width:$min-width_base)  and (max-width:440px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__4:active{
                .check__dots{
                    opacity: 1;
                    &__h4{
                        opacity: 1;
                    }
                }
            }
        }
        
    }
}
//--------------------
//-----page-1 item-4  for h4 not-active 
@media all and (min-width:$min-width_base)  and (max-width:380px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__4{
                .check__dots{
                    opacity: 1;
                    &__h4{
                        opacity: 1;
                    }
                }
            }
        }
        
    }
}



//-----page-1 item-5 for h3_&_h4
@media all and (min-width:$min-width_base)  and (max-width:410px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__5:active{
                .check__dots{
                    opacity: 1;
                    &__h3{
                        opacity: 1;
                    }
                    &__h4{
                        opacity: 1;
                    }
                }
            }
        }
        
    }
}
//-----page-1 item-8 for h3
@media all and (min-width:$min-width_base)  and (max-width:430px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__8:active{
                .check__dots{
                    opacity: 1;
                    &__h3{
                        opacity: 1;
                    }
                }
            }
        }
        
    }
}
//-----page-1 item-8 for h4
@media all and (min-width:$min-width_base)  and (max-width:385px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__8:active{
                .check__dots{
                    opacity: 1;
                    &__h4{
                        opacity: 1;
                    }
                }
            }
        }
        
    }
}
//-----page-1 item-9 for h4
@media all and (min-width:$min-width_base)  and (max-width:420px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__9:active{
                .check__dots{
                    opacity: 1;
                    &__h4{
                        opacity: 1;
                    }
                }
            }
        }
        
    }
}



//---------------------------------
//---------------------------------

//  mobile-medium


//-----page-1 item-3 for h4
@media all and (min-width:$min-width_mobile_medium_menu_card)  and (max-width:340px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__3:active{
                .check__dots{
                    opacity: 1;
                     &__h4{
                        opacity: 1;
                    }
                }

            }
        }
        
    }
}
//-----page-1 item-4 for h4
@media all and (min-width:$min-width_mobile_medium_menu_card)  and (max-width:370px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__4:active{
                .check__dots{
                    opacity: 1;
                    &__h4{
                        opacity: 1;
                    }
                }
            }
        }
        
    }
}
//-----page-1 item-5 for h3
@media all and (min-width:$min-width_mobile_medium_menu_card)  and (max-width:345px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__5:active{
                .check__dots{
                    opacity: 1;
                    &__h3{
                        opacity: 1;
                    }
                }
            }
        }
        
    }
}
//-----page-1 item-5 for h4
@media all and (min-width:$min-width_mobile_medium_menu_card)  and (max-width:355px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__5:active{
                .check__dots{
                    opacity: 1;
                    &__h4{
                        opacity: 1;
                    }
                }
            }
        }
        
    }
}
//-----page-1 item-8 for h3
@media all and (min-width:$min-width_mobile_medium_menu_card)  and (max-width:355px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__8:active{
                .check__dots{
                    opacity: 1;
                    &__h3{
                        opacity: 1;
                    }
                }
            }
        }
        
    }
}
//-----page-1 item-8 for h4
@media all and (min-width:$min-width_mobile_medium_menu_card)  and (max-width:350px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__8:active{
                .check__dots{
                    opacity: 1;
                    &__h4{
                        opacity: 1;
                    }
                }
            }
        }
        
    }
}
//-----page-1 item-9 for h4
@media all and (min-width:$min-width_mobile_medium_menu_card)  and (max-width:360px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__9:active{
                .check__dots{
                    opacity: 1;
                    &__h4{
                        opacity: 1;
                    }
                }
            }
        }
        
    }
}
//------------------------------
//-----------------------------

//-- mobile small

//-----page-1 item-2 for h3
@media all and (min-width:$min-width_mobile_small_menu_card)  and (max-width:295px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__2:active{
                .check__dots{
                    opacity: 1;
                    &__h3{
                        opacity: 1;
                    }
                }
            }
        }
    }
}
//-----page-1 item-3 for h4
@media all and (min-width:$min-width_mobile_small_menu_card)  and (max-width:360px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__3:active{
                .check__dots{
                    opacity: 1;
                    &__h4{
                        opacity: 1;
                    }
                }
            }
        }
    }
}
//-----page-1 item-4 for h3
@media all and (min-width:$min-width_mobile_small_menu_card)  and (max-width:290px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__4:active{
                .check__dots{
                    opacity: 1;
                    &__h3{
                        opacity: 1;
                        transition-delay: 0.22s;
                    }
                }
            }
        }
    }
}
//-----page-1 item-4 for h4
@media all and (min-width:$min-width_mobile_small_menu_card)  and (max-width:319px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__4:active{
                .check__dots{
                    opacity: 1;
                    &__h4{
                        opacity: 1;
                    }
                }
            }
        }
    }
}
//-----page-1 item-4  for h4 not-active
@media all and (min-width:$min-width_mobile_small_menu_card)  and (max-width:295px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__4{
                .check__dots{
                    opacity: 1;
                    &__h4{
                        opacity: 1;
                    }
                }
            }
        }
        
    }
}
//-----page-1 item-5 for h3
@media all and (min-width:$min-width_mobile_small_menu_card)  and (max-width:315px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__5:active{
                .check__dots{
                    opacity: 1;
                    &__h3{
                        opacity: 1;
                    }
                }
            }
        }
    }
}
//-----page-1 item-5 for h4
@media all and (min-width:$min-width_mobile_small_menu_card)  and (max-width:315px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__5:active{
                .check__dots{
                    opacity: 1;
                    &__h4{
                        opacity: 1;
                    }
                }
            }
        }
    }
}
//-----page-1 item-8 for h3
@media all and (min-width:$min-width_mobile_small_menu_card)  and (max-width:319px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__8:active{
                .check__dots{
                    opacity: 1;
                    &__h3{
                        opacity: 1;
                    }
                }
            }
        }
    }
}
//-----page-1 item-8 for h4
@media all and (min-width:$min-width_mobile_small_menu_card)  and (max-width:300px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__8:active{
                .check__dots{
                    opacity: 1;
                    &__h4{
                        opacity: 1;
                    }
                }
            }
        }
    }
}
//-----page-1 item-8 for h3
@media all and (min-width:$min-width_mobile_small_menu_card)  and (max-width:300px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__8:active{
                .check__dots{
                    opacity: 1;
                    &__h3{
                        opacity: 1;
                    }
                }
            }
        }
    }
}

//-----page-1 item-9 for h4
@media all and (min-width:$min-width_mobile_small_menu_card)  and (max-width:319px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__9:active{
                .check__dots{
                    opacity: 1;
                    &__h4{
                        opacity: 1;
                    }
                }
            }
        }
    }
} 
// desktop-small

//-----page-1 item-4 for h4
@media all and (min-width:$min-width_desktop_small)  and (max-width:1060px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__4:hover{
                .check__dots{
                    opacity: 1;
                    &__h4{
                        opacity: 1;
                    }
                }
            }
        }
    }
}
//-----page-1 item-8 for h3
@media all and (min-width:$min-width_desktop_small)  and (max-width:1060px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__8:hover{
                .check__dots{
                    opacity: 1;
                    &__h3{
                        opacity: 1;
                    }
                }
            }
        }
    }
}
//-----page-1 item-9 for h4
@media all and (min-width:$min-width_desktop_small)  and (max-width:1060px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__9:hover{
                .check__dots{
                    opacity: 1;
                    &__h4{
                        opacity: 1;
                    }
                }
            }
        }
    }
}
        






        

     
