// .item_card_menu:hover{
//     .check{
//         transform: translateX(0rem);
//         & img{
//             transform: rotate(0deg);
//         }
//         & span{
//             opacity: 0;
//         }
//     }
// }   

//-----min-width-base---- 

//-----page-1 item-3
@media all and (min-width:$min-width_base)  and (max-width:400px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__3:hover{
                span{
                    opacity:1;
                }
            }
        }
        
    }
}
//-----page-1 item-4
@media all and (min-width:$min-width_base)  and (max-width:440px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__4:hover{
                span{
                    opacity:1;
                }
            }
        }
        
    }
}

//-----page-1 item-5
@media all and (min-width:$min-width_base)  and (max-width:410px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__5:hover{
                span{
                    opacity:1;
                }
            }
        }
        
    }
}
//-----page-1 item-8
@media all and (min-width:$min-width_base)  and (max-width:385px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__8:hover{
                span{
                    opacity:1;
                }
            }
        }
        
    }
}
//-----page-1 item-9
@media all and (min-width:$min-width_base)  and (max-width:420px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__9:hover{
                span{
                    opacity:1;
                }
            }
        }
        
    }
}

//---------------------------------
//---------------------------------

//  mobile-medium


//-----page-1 item-3
@media all and (min-width:$min-width_mobile_medium_menu_card)  and (max-width:340px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__3:hover{
                span{
                    opacity:1;
                }
            }
        }
        
    }
}
//-----page-1 item-4
@media all and (min-width:$min-width_mobile_medium_menu_card)  and (max-width:370px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__4:hover{
                span{
                    opacity:1;
                }
            }
        }
        
    }
}
//-----page-1 item-5
@media all and (min-width:$min-width_mobile_medium_menu_card)  and (max-width:355px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__5:hover{
                span{
                    opacity:1;
                }
            }
        }
        
    }
}
//-----page-1 item-8
@media all and (min-width:$min-width_mobile_medium_menu_card)  and (max-width:330px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__8:hover{
                span{
                    opacity:1;
                }
            }
        }
        
    }
}
//-----page-1 item-9
@media all and (min-width:$min-width_mobile_medium_menu_card)  and (max-width:360px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__9:hover{
                span{
                    opacity:1;
                }
            }
        }
        
    }
}
//------------------------------
//-----------------------------

//-- mobile small


//-----page-1 item-3
@media all and (min-width:$min-width_mobile_small_menu_card)  and (max-width:360px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__3:hover{
                span{
                    opacity:1;
                }
            }
        }
    }
}
//-----page-1 item-4
@media all and (min-width:$min-width_mobile_small_menu_card)  and (max-width:319px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__4:hover{
                span{
                    opacity:1;
                }
            }
        }
    }
}
//-----page-1 item-5
@media all and (min-width:$min-width_mobile_small_menu_card)  and (max-width:315px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__5:hover{
                span{
                    opacity:1;
                }
            }
        }
    }
}
//-----page-1 item-8
@media all and (min-width:$min-width_mobile_small_menu_card)  and (max-width:300px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__8:hover{
                span{
                    opacity:1;
                }
            }
        }
    }
}
//-----page-1 item-9
@media all and (min-width:$min-width_mobile_small_menu_card)  and (max-width:319px){
    .item_card_menu{
        &.item_card_menu_page_1{
            &.item_card_menu__9:hover{
                span{
                    opacity:1;
                }
            }
        }
    }
}
        






        

     
