
.menu_page{
    @include flex__col_x_y;
    width: 100%;
    height: auto;
    
}
    
.header_menu{
    display: flex;
    width: 100%;
    max-width: 1680px;
    height: 300px;
    & .img_1{
        width: 100%;
        height: 120%;
        object-fit: cover;
        
    }
    & .img_2{
        display: flex;
        width: 100%;
         height: 100%;
        height: auto;
        object-fit: cover;
        display: none;
        &__menu_1{
            display: none;
        }
        &__menu_2{
            display: none;
        }
        &__menu_3{
            display: none;
        }
        &__menu_4{
            display: none;
        }
    }
}
.header_menu__page_2_desktop{
    // height: 1866px;
    display: none;
}



            

        
        
            

    
@media all and (min-width:$min-width_mobile_small) and (max-width:$max-width_mobile_small){
    .menu_page{
        & .header_menu{
            height: 180px;
        }
    }
}
            
@media all and (min-width:$min-width_mobile_large) and (max-width:$max-width_mobile_large){
    
        .header_menu{
            height: 300px;
        }
    
}
        
@media all and (min-width:$min-width_tablette) and (max-width:$max-width_tablette){
    
        .header_menu{
            height: 340px;
        }
    
}
@media all and (min-width:$min-width_desktop_small) and (max-width:$max-width_desktop){
    
    .menu_page{
        height: 100%;
        // height: auto;
        align-items: flex-end;
        
    }
    .header_menu{
        position: absolute;
        height:1766px;
        width: 100%;
        top: 10vh;
        & .img_1{
            display: none;
            height: 100%;
        }
        & .img_2{
            display:flex;
            &__menu_1{
                display: block;
                height: 100%;
            }
            &__menu_2{
                display: block;
                height:100%;
                height: 107%;
                
            }
            &__menu_3{
                display: block;
                height: 100%;
                height: 102%;
            }
            &__menu_4{
                display: block;
                height: 100%;
            }
            
        }

    }
    .header_menu__page_2_desktop{
        display: block;
        height: 1866px;
    }

    
    

        

            

           
            
            
            
        

}

        


    
    
 
