$primary:#9356DC;
$second:#FF79DA;
$third:#99E2D0;
$gradient_bottom_second_primary:linear-gradient(to bottom, $second, $primary);
$lighten_gradient_bottom_second_primary:linear-gradient(
to bottom, lighten($second,5),lighten($primary,5));



$min-width_mobile_small:200px;
$max-width_mobile_small:369px;
//-----------------------------
$min-width_base:370px;
$max-width_base:540px;
//-----------------------------
$min-width_mobile_large:541px;
$max-width_mobile_large:766px;
//--------------------------------------
//tablette
$min-width_tablette:767px;
$max-width_tablette:992px;
//--------------------------
$min-width_desktop_small:993px;
$max-width_desktop_small:1180px;

//---------------------------
//desktop
$min-width_desktop:1181px;
$max-width_desktop:9999px;
//-------------------------------



//--------for menu card- and restaurants card--------
$min-width_mobile_small_menu_card:200px;
$max-width_mobile_small_menu_card:319px;

$min-width_mobile_medium_menu_card:320px;
$max-width_mobile_medium_menu_card:370px;


//------------------------------------------------



